<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Transit</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">	
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
   
</head>
<body>
	<!--header section start -->
    <div class="header_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                      <a href="index.html">
                        <br>
                        <br>
                        <br>
                        
                        <!-- <div><img src="images/logo.png" width="125px" height="125px"></div> -->
                      </a></div>
                </div>
                <div class="col-sm-6">
                    <div class="menu_text">
                        <ul>
                            <li><a href="#"><img src="images/user-icon.png"></a></li>
                            <li><a href="#"><img src="images/search-icon.png"></a></li>
                            <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                  <a href="index.html">Home</a>
                  <a href="about.html">About</a>
                  <a href="ship.html">Ship</a>
                  <a href="testimonial.html">Testimonial</a>
                  <a href="contact.html">Contact Us</a>
                </div>
                </div>
                <span  style="font-size:33px;cursor:pointer; color: #ffffff;" onclick="openNav()"><img src="images/toggle-icon.png" class="toggle_menu"></span>
                </div>  
                </li>
                    </ul>
                </div>
            </div>
        </div>
    <!-- header section end -->
    <!-- banner section start -->
    <div class="banner_section">
    <div id="my_carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators-one">
    <li data-target="#my_carousel" data-slide-to="0" class="active"></li>
    <li data-target="#my_carousel" data-slide-to="1"></li>
    <li data-target="#my_carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container-fluid">
    		<div class="taital_main">
    			<h1 class="our_text">Learn</h1>
    		    <h2 class="best_text">To Empower,</h2>
    		    <h2 class="company_text">Yourself.</h2>
    		    <p class="contrary_text">"Our mental health organization offers counseling, therapy, and support services. We provide personalized care for various mental health issues, focusing on well-being, resilience, and recovery. Our services include therapy sessions, crisis intervention, and educational programs to promote mental health awareness and holistic healing."</p>
    		</div>
    	</div>
    	<div class="footer-social-icons">
            <ul class="social-icons">
               <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
               <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
               <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
               <li><a href="" class="social-icon"> <i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="carousel-item">
      <div class="container-fluid">
    		<div class="taital_main">
    			<h1 class="our_text">Learn</h1>
    		    <h2 class="best_text">To Empower,</h2>
    		    <h2 class="company_text">Yourself.</h2>
    		    <p class="contrary_text">"Our mental health organization offers counseling, therapy, and support services. We provide personalized care for various mental health issues, focusing on well-being, resilience, and recovery. Our services include therapy sessions, crisis intervention, and educational programs to promote mental health awareness and holistic healing."</p>
    		</div>
    	</div>
    	<div class="footer-social-icons">
            <ul class="social-icons">
               <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
               <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
               <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
               <li><a href="" class="social-icon"> <i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="carousel-item">
      <div class="container-fluid">
    		<div class="taital_main">
    			<h1 class="our_text">Learn</h1>
    		    <h2 class="best_text">To Empower,</h2>
    		    <h2 class="company_text">Yourself.</h2>
    		    <p class="contrary_text">"Our mental health organization offers counseling, therapy, and support services. We provide personalized care for various mental health issues, focusing on well-being, resilience, and recovery. Our services include therapy sessions, crisis intervention, and educational programs to promote mental health awareness and holistic healing."</p>
    		</div>
    	</div>
    	<div class="footer-social-icons">
            <ul class="social-icons">
               <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
               <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
               <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
               <li><a href="" class="social-icon"> <i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
  </div>
</div>	
    </div>
    </div>
    <!-- banner section end -->
    <!-- about section start -->
    <div class="about_section layout_padding">
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-4 about_main">
    				<h1 class="about_text">About <span style="color: #03615B;">Us</span></h1>
    				<p class="dummy_text">Eunoia, which originates from the term εὔνοια represents the essence of a " mind" and "positive thinking." At Eunoia we embrace the philosophy of "You Know YAA”. A reminder that gaining self awareness simplifies lifes complexities. Established on October 1st, 2019 by Mr. Bivek Pradhan Eunoia initially started as an initiative, on media aimed at promoting health education and breaking down the associated stigma.

             </p>
    				<div class="read_bt"><a href="#">Read More</a></div>
    			</div> 
    			<div class="col-sm-8">
    				<div><img src="images/img-1.png"></div>
    			</div>
    		</div>
    	</div>
    </div>
    <!-- about section end -->
    <!-- our company section start -->
    <div class="company_section layout_padding">
    	<div class="container">
    		<h1 class="company_text">Mission and Vision</h2>
    		<div class="compant_taital">"At Eunoia, we empower mental health journeys with accessible, compassionate support. Through counseling, education, and advocacy, we foster understanding, resilience, and well-being. Our mission: break barriers, erase stigma, and promote mental health for all."<br>"Our vision: a world where mental health is integral to well-being. We strive for timely, judgment-free care through innovation and collaboration. We champion mental health as a fundamental human right, fostering understanding, empathy, and fulfilling lives."</div>
    	</div>
    </div>
    <!-- our company section end -->
    <!-- our ships section start -->
    <!-- <div class="ship_section layout_padding">
    	<div class="container">
    		<h1 class="ship_text">Our Ships</h1>
    		<p class="ship_taital">nternet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
    		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="image_1"><img src="images/img-4.png"></div>
               </div>
            <div class="carousel-item">
                <div class="image_1"><img src="images/img-4.png"></div>
            </div>
            <div class="carousel-item">
               <div class="image_1"><img src="images/img-4.png"></div>
            </div>
            <div class="carousel-item">
               <div class="image_1"><img src="images/img-4.png"></div>
            </div>
            </div>
            </div>
    		<div class="seemore_main">
    			<div class="seemore_bt"><a href="#">See More</a></div>
    		</div>
    		<h1 class="testimonial_text">Testimonial</h1>
    	</div>
    </div>
    <!-- our ships section end -->
    <!-- testimonial section start -->
    
    <!-- testimonial section end -->



    <!-- Physologist -->
    <!-- ====== Team Section Start -->
<section class="pt-20 pb-10 lg:pt-[120px] lg:pb-20 dark:bg-dark">
  <div class="container mx-auto">
     <div class="-mx-4 flex flex-wrap">
        <div class="w-full px-4">
           <div class="mx-auto mb-[60px] max-w-[510px] text-center">
              <span class="text-primary mb-2 block text-lg font-semibold">
               <br>
               <br>
               
              </span>
              <h2
                 class="text-dark dark:text-white mb-3 text-3xl leading-[1.2] font-bold sm:text-4xl md:text-[40px]"
                 >
                 Our Physologist
              </h2>
              <p class="text-body-color text-base dark:text-dark-6">
                "In the middle of every difficulty lies opportunity." 
              </p>
           </div>
        </div>
     </div>
     <div class="-mx-4 flex flex-wrap justify-center">
        <div class="w-full px-4 md:w-1/2 xl:w-1/4">
           <div class="mx-auto mb-10 w-full max-w-[370px]">
              <div class="relative overflow-hidden rounded-lg">
                 <img
                    src="images/bivek.jpg"
                    alt="image"
                    class="w-full"
                    />
                 <div class="absolute bottom-5 left-0 w-full text-center">
                    <div
                       class="relative mx-5 overflow-hidden rounded-lg bg-white dark:bg-dark-2 py-5 px-3"
                       >
                       <h3 class="text-dark dark:text-white text-base font-semibold">
                          Mr. Bivek Pradhan
                       </h3>
                       <p class="text-body-color dark:text-dark-6 text-xs">CEO and Physologist</p>
                       <div>
                          <span class="absolute left-0 bottom-0">
                             <svg
                                width="61"
                                height="30"
                                viewBox="0 0 61 30"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                >
                                <circle
                                   cx="16"
                                   cy="45"
                                   r="45"
                                   fill="#13C296"
                                   fill-opacity="0.11"
                                   />
                             </svg>
                          </span>
                          <span class="absolute top-0 right-0">
                             <svg
                                width="20"
                                height="25"
                                viewBox="0 0 20 25"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                >
                                <circle
                                   cx="0.706257"
                                   cy="24.3533"
                                   r="0.646687"
                                   transform="rotate(-90 0.706257 24.3533)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="6.39669"
                                   cy="24.3533"
                                   r="0.646687"
                                   transform="rotate(-90 6.39669 24.3533)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="12.0881"
                                   cy="24.3533"
                                   r="0.646687"
                                   transform="rotate(-90 12.0881 24.3533)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="17.7785"
                                   cy="24.3533"
                                   r="0.646687"
                                   transform="rotate(-90 17.7785 24.3533)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="0.706257"
                                   cy="18.6624"
                                   r="0.646687"
                                   transform="rotate(-90 0.706257 18.6624)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="6.39669"
                                   cy="18.6624"
                                   r="0.646687"
                                   transform="rotate(-90 6.39669 18.6624)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="12.0881"
                                   cy="18.6624"
                                   r="0.646687"
                                   transform="rotate(-90 12.0881 18.6624)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="17.7785"
                                   cy="18.6624"
                                   r="0.646687"
                                   transform="rotate(-90 17.7785 18.6624)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="0.706257"
                                   cy="12.9717"
                                   r="0.646687"
                                   transform="rotate(-90 0.706257 12.9717)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="6.39669"
                                   cy="12.9717"
                                   r="0.646687"
                                   transform="rotate(-90 6.39669 12.9717)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="12.0881"
                                   cy="12.9717"
                                   r="0.646687"
                                   transform="rotate(-90 12.0881 12.9717)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="17.7785"
                                   cy="12.9717"
                                   r="0.646687"
                                   transform="rotate(-90 17.7785 12.9717)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="0.706257"
                                   cy="7.28077"
                                   r="0.646687"
                                   transform="rotate(-90 0.706257 7.28077)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="6.39669"
                                   cy="7.28077"
                                   r="0.646687"
                                   transform="rotate(-90 6.39669 7.28077)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="12.0881"
                                   cy="7.28077"
                                   r="0.646687"
                                   transform="rotate(-90 12.0881 7.28077)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="17.7785"
                                   cy="7.28077"
                                   r="0.646687"
                                   transform="rotate(-90 17.7785 7.28077)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="0.706257"
                                   cy="1.58989"
                                   r="0.646687"
                                   transform="rotate(-90 0.706257 1.58989)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="6.39669"
                                   cy="1.58989"
                                   r="0.646687"
                                   transform="rotate(-90 6.39669 1.58989)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="12.0881"
                                   cy="1.58989"
                                   r="0.646687"
                                   transform="rotate(-90 12.0881 1.58989)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="17.7785"
                                   cy="1.58989"
                                   r="0.646687"
                                   transform="rotate(-90 17.7785 1.58989)"
                                   fill="#3056D3"
                                   />
                             </svg>
                          </span>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        
        <div class="w-full px-4 md:w-1/2 xl:w-1/4">
           <div class="mx-auto mb-10 w-full max-w-[370px]">
              <div class="relative overflow-hidden rounded-lg">
                 <img
                    src="https://cdn.tailgrids.com/1.0/assets/images/team/team-01/image-03.jpg"
                    alt="image"
                    class="w-full"
                    />
                 <div class="absolute bottom-5 left-0 w-full text-center">
                    <div
                       class="relative mx-5 overflow-hidden rounded-lg bg-white dark:bg-dark-2 py-5 px-3"
                       >
                       <h3 class="text-dark dark:text-white text-base font-semibold">
                          Jackie Sanders
                       </h3>
                       <p class="text-body-color dark:text-dark-6 text-xs">UI/UX Designer</p>
                       <div>
                          <span class="absolute left-0 bottom-0">
                             <svg
                                width="61"
                                height="30"
                                viewBox="0 0 61 30"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                >
                                <circle
                                   cx="16"
                                   cy="45"
                                   r="45"
                                   fill="#13C296"
                                   fill-opacity="0.11"
                                   />
                             </svg>
                          </span>
                          <span class="absolute top-0 right-0">
                             <svg
                                width="20"
                                height="25"
                                viewBox="0 0 20 25"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                >
                                <circle
                                   cx="0.706257"
                                   cy="24.3533"
                                   r="0.646687"
                                   transform="rotate(-90 0.706257 24.3533)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="6.39669"
                                   cy="24.3533"
                                   r="0.646687"
                                   transform="rotate(-90 6.39669 24.3533)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="12.0881"
                                   cy="24.3533"
                                   r="0.646687"
                                   transform="rotate(-90 12.0881 24.3533)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="17.7785"
                                   cy="24.3533"
                                   r="0.646687"
                                   transform="rotate(-90 17.7785 24.3533)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="0.706257"
                                   cy="18.6624"
                                   r="0.646687"
                                   transform="rotate(-90 0.706257 18.6624)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="6.39669"
                                   cy="18.6624"
                                   r="0.646687"
                                   transform="rotate(-90 6.39669 18.6624)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="12.0881"
                                   cy="18.6624"
                                   r="0.646687"
                                   transform="rotate(-90 12.0881 18.6624)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="17.7785"
                                   cy="18.6624"
                                   r="0.646687"
                                   transform="rotate(-90 17.7785 18.6624)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="0.706257"
                                   cy="12.9717"
                                   r="0.646687"
                                   transform="rotate(-90 0.706257 12.9717)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="6.39669"
                                   cy="12.9717"
                                   r="0.646687"
                                   transform="rotate(-90 6.39669 12.9717)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="12.0881"
                                   cy="12.9717"
                                   r="0.646687"
                                   transform="rotate(-90 12.0881 12.9717)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="17.7785"
                                   cy="12.9717"
                                   r="0.646687"
                                   transform="rotate(-90 17.7785 12.9717)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="0.706257"
                                   cy="7.28077"
                                   r="0.646687"
                                   transform="rotate(-90 0.706257 7.28077)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="6.39669"
                                   cy="7.28077"
                                   r="0.646687"
                                   transform="rotate(-90 6.39669 7.28077)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="12.0881"
                                   cy="7.28077"
                                   r="0.646687"
                                   transform="rotate(-90 12.0881 7.28077)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="17.7785"
                                   cy="7.28077"
                                   r="0.646687"
                                   transform="rotate(-90 17.7785 7.28077)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="0.706257"
                                   cy="1.58989"
                                   r="0.646687"
                                   transform="rotate(-90 0.706257 1.58989)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="6.39669"
                                   cy="1.58989"
                                   r="0.646687"
                                   transform="rotate(-90 6.39669 1.58989)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="12.0881"
                                   cy="1.58989"
                                   r="0.646687"
                                   transform="rotate(-90 12.0881 1.58989)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="17.7785"
                                   cy="1.58989"
                                   r="0.646687"
                                   transform="rotate(-90 17.7785 1.58989)"
                                   fill="#3056D3"
                                   />
                             </svg>
                          </span>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="w-full px-4 md:w-1/2 xl:w-1/4">
           <div class="mx-auto mb-10 w-full max-w-[370px]">
              <div class="relative overflow-hidden rounded-lg">
                 <img
                    src="https://cdn.tailgrids.com/1.0/assets/images/team/team-01/image-04.jpg"
                    alt="image"
                    class="w-full"
                    />
                 <div class="absolute bottom-5 left-0 w-full text-center">
                    <div
                       class="relative mx-5 overflow-hidden rounded-lg bg-white dark:bg-dark-2 py-5 px-3"
                       >
                       <h3 class="text-dark dark:text-white text-base font-semibold">
                          Nikolas Brooten
                       </h3>
                       <p class="text-body-color dark:text-dark-6 text-xs">Sales Manager</p>
                       <div>
                          <span class="absolute left-0 bottom-0">
                             <svg
                                width="61"
                                height="30"
                                viewBox="0 0 61 30"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                >
                                <circle
                                   cx="16"
                                   cy="45"
                                   r="45"
                                   fill="#13C296"
                                   fill-opacity="0.11"
                                   />
                             </svg>
                          </span>
                          <span class="absolute top-0 right-0">
                             <svg
                                width="20"
                                height="25"
                                viewBox="0 0 20 25"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                >
                                <circle
                                   cx="0.706257"
                                   cy="24.3533"
                                   r="0.646687"
                                   transform="rotate(-90 0.706257 24.3533)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="6.39669"
                                   cy="24.3533"
                                   r="0.646687"
                                   transform="rotate(-90 6.39669 24.3533)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="12.0881"
                                   cy="24.3533"
                                   r="0.646687"
                                   transform="rotate(-90 12.0881 24.3533)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="17.7785"
                                   cy="24.3533"
                                   r="0.646687"
                                   transform="rotate(-90 17.7785 24.3533)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="0.706257"
                                   cy="18.6624"
                                   r="0.646687"
                                   transform="rotate(-90 0.706257 18.6624)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="6.39669"
                                   cy="18.6624"
                                   r="0.646687"
                                   transform="rotate(-90 6.39669 18.6624)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="12.0881"
                                   cy="18.6624"
                                   r="0.646687"
                                   transform="rotate(-90 12.0881 18.6624)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="17.7785"
                                   cy="18.6624"
                                   r="0.646687"
                                   transform="rotate(-90 17.7785 18.6624)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="0.706257"
                                   cy="12.9717"
                                   r="0.646687"
                                   transform="rotate(-90 0.706257 12.9717)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="6.39669"
                                   cy="12.9717"
                                   r="0.646687"
                                   transform="rotate(-90 6.39669 12.9717)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="12.0881"
                                   cy="12.9717"
                                   r="0.646687"
                                   transform="rotate(-90 12.0881 12.9717)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="17.7785"
                                   cy="12.9717"
                                   r="0.646687"
                                   transform="rotate(-90 17.7785 12.9717)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="0.706257"
                                   cy="7.28077"
                                   r="0.646687"
                                   transform="rotate(-90 0.706257 7.28077)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="6.39669"
                                   cy="7.28077"
                                   r="0.646687"
                                   transform="rotate(-90 6.39669 7.28077)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="12.0881"
                                   cy="7.28077"
                                   r="0.646687"
                                   transform="rotate(-90 12.0881 7.28077)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="17.7785"
                                   cy="7.28077"
                                   r="0.646687"
                                   transform="rotate(-90 17.7785 7.28077)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="0.706257"
                                   cy="1.58989"
                                   r="0.646687"
                                   transform="rotate(-90 0.706257 1.58989)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="6.39669"
                                   cy="1.58989"
                                   r="0.646687"
                                   transform="rotate(-90 6.39669 1.58989)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="12.0881"
                                   cy="1.58989"
                                   r="0.646687"
                                   transform="rotate(-90 12.0881 1.58989)"
                                   fill="#3056D3"
                                   />
                                <circle
                                   cx="17.7785"
                                   cy="1.58989"
                                   r="0.646687"
                                   transform="rotate(-90 17.7785 1.58989)"
                                   fill="#3056D3"
                                   />
                             </svg>
                          </span>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- ====== Team Section End -->
    <!-- contact section start -->
    <!-- ====== Contact Section Start -->
<section
class="relative z-10 overflow-hidden bg-white dark:bg-dark py-20 lg:py-[120px]"
>
<div class="container mx-auto">
   <div class="flex flex-wrap -mx-4 lg:justify-between">
      <div class="w-full px-4 lg:w-1/2 xl:w-6/12">
         <div class="mb-12 max-w-[570px] lg:mb-0">
            <span class="block mb-4 text-base font-semibold text-primary">
            Contact Us
            </span>
            <h2
               class="text-dark dark:text-white mb-6 text-[32px] font-bold uppercase sm:text-[40px] lg:text-[36px] xl:text-[40px]"
               >
               GET IN TOUCH WITH US
            </h2>
            <p
               class="text-base leading-relaxed text-body-color dark:text-dark-6 mb-9"
               >
               "To solve any problem, here are three questions to ask yourself: First, what could I do? Second, what could I read? And third, whom could I ask?" 
            </p>
            <div class="mb-8 flex w-full max-w-[370px]">
               <div
                  class="bg-primary/5 text-primary mr-6 flex h-[60px] w-full max-w-[60px] items-center justify-center overflow-hidden rounded sm:h-[70px] sm:max-w-[70px]"
                  >
                  <svg
                     width="32"
                     height="32"
                     viewBox="0 0 32 32"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg"
                     >
                     <path
                        d="M30.6 11.8002L17.7 3.5002C16.65 2.8502 15.3 2.8502 14.3 3.5002L1.39998 11.8002C0.899983 12.1502 0.749983 12.8502 1.04998 13.3502C1.39998 13.8502 2.09998 14.0002 2.59998 13.7002L3.44998 13.1502V25.8002C3.44998 27.5502 4.84998 28.9502 6.59998 28.9502H25.4C27.15 28.9502 28.55 27.5502 28.55 25.8002V13.1502L29.4 13.7002C29.6 13.8002 29.8 13.9002 30 13.9002C30.35 13.9002 30.75 13.7002 30.95 13.4002C31.3 12.8502 31.15 12.1502 30.6 11.8002ZM13.35 26.7502V18.5002C13.35 18.0002 13.75 17.6002 14.25 17.6002H17.75C18.25 17.6002 18.65 18.0002 18.65 18.5002V26.7502H13.35ZM26.3 25.8002C26.3 26.3002 25.9 26.7002 25.4 26.7002H20.9V18.5002C20.9 16.8002 19.5 15.4002 17.8 15.4002H14.3C12.6 15.4002 11.2 16.8002 11.2 18.5002V26.7502H6.69998C6.19998 26.7502 5.79998 26.3502 5.79998 25.8502V11.7002L15.5 5.4002C15.8 5.2002 16.2 5.2002 16.5 5.4002L26.3 11.7002V25.8002Z"
                        fill="currentColor"
                        />
                  </svg>
               </div>
               <div class="w-full">
                  <h4 class="mb-1 text-xl font-bold text-dark dark:text-white">
                     Our Location
                  </h4>
                  <p class="text-base text-body-color dark:text-dark-6">
                     Darjeeling
                  </p>
               </div>
            </div>
            <div class="mb-8 flex w-full max-w-[370px]">
               <div
                  class="bg-primary/5 text-primary mr-6 flex h-[60px] w-full max-w-[60px] items-center justify-center overflow-hidden rounded sm:h-[70px] sm:max-w-[70px]"
                  >
                  <svg
                     width="32"
                     height="32"
                     viewBox="0 0 32 32"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg"
                     >
                     <g clip-path="url(#clip0_941_17577)">
                        <path
                           d="M24.3 31.1499C22.95 31.1499 21.4 30.7999 19.7 30.1499C16.3 28.7999 12.55 26.1999 9.19997 22.8499C5.84997 19.4999 3.24997 15.7499 1.89997 12.2999C0.39997 8.59994 0.54997 5.54994 2.29997 3.84994C2.34997 3.79994 2.44997 3.74994 2.49997 3.69994L6.69997 1.19994C7.74997 0.599942 9.09997 0.899942 9.79997 1.89994L12.75 6.29994C13.45 7.34994 13.15 8.74994 12.15 9.44994L10.35 10.6999C11.65 12.7999 15.35 17.9499 21.25 21.6499L22.35 20.0499C23.2 18.8499 24.55 18.4999 25.65 19.2499L30.05 22.1999C31.05 22.8999 31.35 24.2499 30.75 25.2999L28.25 29.4999C28.2 29.5999 28.15 29.6499 28.1 29.6999C27.2 30.6499 25.9 31.1499 24.3 31.1499ZM3.79997 5.54994C2.84997 6.59994 2.89997 8.74994 3.99997 11.4999C5.24997 14.6499 7.64997 18.0999 10.8 21.2499C13.9 24.3499 17.4 26.7499 20.5 27.9999C23.2 29.0999 25.35 29.1499 26.45 28.1999L28.85 24.0999C28.85 24.0499 28.85 24.0499 28.85 23.9999L24.45 21.0499C24.45 21.0499 24.35 21.0999 24.25 21.2499L23.15 22.8499C22.45 23.8499 21.1 24.1499 20.1 23.4999C13.8 19.5999 9.89997 14.1499 8.49997 11.9499C7.84997 10.8999 8.09997 9.54994 9.09997 8.84994L10.9 7.59994V7.54994L7.94997 3.14994C7.94997 3.09994 7.89997 3.09994 7.84997 3.14994L3.79997 5.54994Z"
                           fill="currentColor"
                           />
                        <path
                           d="M29.3 14.25C28.7 14.25 28.25 13.8 28.2 13.2C27.8 8.15003 23.65 4.10003 18.55 3.75003C17.95 3.70003 17.45 3.20003 17.5 2.55003C17.55 1.95003 18.05 1.45003 18.7 1.50003C24.9 1.90003 29.95 6.80003 30.45 13C30.5 13.6 30.05 14.15 29.4 14.2C29.4 14.25 29.35 14.25 29.3 14.25Z"
                           fill="currentColor"
                           />
                        <path
                           d="M24.35 14.7002C23.8 14.7002 23.3 14.3002 23.25 13.7002C22.95 11.0002 20.85 8.90018 18.15 8.55018C17.55 8.50018 17.1 7.90018 17.15 7.30018C17.2 6.70018 17.8 6.25018 18.4 6.30018C22.15 6.75018 25.05 9.65018 25.5 13.4002C25.55 14.0002 25.15 14.5502 24.5 14.6502C24.4 14.7002 24.35 14.7002 24.35 14.7002Z"
                           fill="currentColor"
                           />
                     </g>
                     <defs>
                        <clipPath id="clip0_941_17577">
                           <rect width="32" height="32" fill="white" />
                        </clipPath>
                     </defs>
                  </svg>
               </div>
               <div class="w-full">
                  <h4 class="mb-1 text-xl font-bold text-dark dark:text-white">
                     Phone Number
                  </h4>
                  <p class="text-base text-body-color dark:text-dark-6">
                     (+91)73496 69521
                  </p>
               </div>
            </div>
            <div class="mb-8 flex w-full max-w-[370px]">
               <div
                  class="bg-primary/5 text-primary mr-6 flex h-[60px] w-full max-w-[60px] items-center justify-center overflow-hidden rounded sm:h-[70px] sm:max-w-[70px]"
                  >
                  <svg
                     width="32"
                     height="32"
                     viewBox="0 0 32 32"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg"
                     >
                     <path
                        d="M28 4.7998H3.99998C2.29998 4.7998 0.849976 6.1998 0.849976 7.9498V24.1498C0.849976 25.8498 2.24998 27.2998 3.99998 27.2998H28C29.7 27.2998 31.15 25.8998 31.15 24.1498V7.8998C31.15 6.1998 29.7 4.7998 28 4.7998ZM28 7.0498C28.05 7.0498 28.1 7.0498 28.15 7.0498L16 14.8498L3.84998 7.0498C3.89998 7.0498 3.94998 7.0498 3.99998 7.0498H28ZM28 24.9498H3.99998C3.49998 24.9498 3.09998 24.5498 3.09998 24.0498V9.2498L14.8 16.7498C15.15 16.9998 15.55 17.0998 15.95 17.0998C16.35 17.0998 16.75 16.9998 17.1 16.7498L28.8 9.2498V24.0998C28.9 24.5998 28.5 24.9498 28 24.9498Z"
                        fill="currentColor"
                        />
                  </svg>
               </div>
               <div class="w-full">
                  <h4 class="mb-1 text-xl font-bold text-dark dark:text-white">
                     Email Address
                  </h4>
                  <p class="text-base text-body-color dark:text-dark-6">
                     eunoiaofficial1225@gmail.com
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="w-full px-4 lg:w-1/2 xl:w-5/12">
         <div
            class="relative p-8 bg-white rounded-lg shadow-lg dark:bg-dark-2 sm:p-12"
            >
            <form>
               <div class="mb-6">
                  <input
                     type="text"
                     placeholder="Your Name"
                     class="border-stroke dark:border-dark-3 dark:text-dark-6 dark:bg-dark text-body-color focus:border-primary w-full rounded border py-3 px-[14px] text-base outline-none"
                     />
               </div>
               <div class="mb-6">
                  <input
                     type="email"
                     placeholder="Your Email"
                     class="border-stroke dark:border-dark-3 dark:text-dark-6 dark:bg-dark text-body-color focus:border-primary w-full rounded border py-3 px-[14px] text-base outline-none"
                     />
               </div>
               <div class="mb-6">
                  <input
                     type="text"
                     placeholder="Your Phone"
                     class="border-stroke dark:border-dark-3 dark:text-dark-6 dark:bg-dark text-body-color focus:border-primary w-full rounded border py-3 px-[14px] text-base outline-none"
                     />
               </div>
               <div class="mb-6">
                  <textarea
                     rows="6"
                     placeholder="Your Message"
                     class="border-stroke dark:border-dark-3 dark:text-dark-6 dark:bg-dark text-body-color focus:border-primary w-full resize-none rounded border py-3 px-[14px] text-base outline-none"
                     ></textarea>
               </div>
               <div>
                  <button
                     type="submit"
                     class="w-full p-3 text-white transition border rounded border-primary bg-primary hover:bg-opacity-90"
                     >
                  Send Message
                  </button>
               </div>
            </form>
            <div>
               <span class="absolute -top-10 -right-9 z-[-1]">
                  <svg
                     width="100"
                     height="100"
                     viewBox="0 0 100 100"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg"
                     >
                     <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M0 100C0 44.7715 0 0 0 0C55.2285 0 100 44.7715 100 100C100 100 100 100 0 100Z"
                        fill="#3056D3"
                        />
                  </svg>
               </span>
               <span class="absolute -right-10 top-[90px] z-[-1]">
                  <svg
                     width="34"
                     height="134"
                     viewBox="0 0 34 134"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg"
                     >
                     <circle
                        cx="31.9993"
                        cy="132"
                        r="1.66667"
                        transform="rotate(180 31.9993 132)"
                        fill="#13C296"
                        />
                     <circle
                        cx="31.9993"
                        cy="117.333"
                        r="1.66667"
                        transform="rotate(180 31.9993 117.333)"
                        fill="#13C296"
                        />
                     <circle
                        cx="31.9993"
                        cy="102.667"
                        r="1.66667"
                        transform="rotate(180 31.9993 102.667)"
                        fill="#13C296"
                        />
                     <circle
                        cx="31.9993"
                        cy="88"
                        r="1.66667"
                        transform="rotate(180 31.9993 88)"
                        fill="#13C296"
                        />
                     <circle
                        cx="31.9993"
                        cy="73.3333"
                        r="1.66667"
                        transform="rotate(180 31.9993 73.3333)"
                        fill="#13C296"
                        />
                     <circle
                        cx="31.9993"
                        cy="45"
                        r="1.66667"
                        transform="rotate(180 31.9993 45)"
                        fill="#13C296"
                        />
                     <circle
                        cx="31.9993"
                        cy="16"
                        r="1.66667"
                        transform="rotate(180 31.9993 16)"
                        fill="#13C296"
                        />
                     <circle
                        cx="31.9993"
                        cy="59"
                        r="1.66667"
                        transform="rotate(180 31.9993 59)"
                        fill="#13C296"
                        />
                     <circle
                        cx="31.9993"
                        cy="30.6666"
                        r="1.66667"
                        transform="rotate(180 31.9993 30.6666)"
                        fill="#13C296"
                        />
                     <circle
                        cx="31.9993"
                        cy="1.66665"
                        r="1.66667"
                        transform="rotate(180 31.9993 1.66665)"
                        fill="#13C296"
                        />
                     <circle
                        cx="17.3333"
                        cy="132"
                        r="1.66667"
                        transform="rotate(180 17.3333 132)"
                        fill="#13C296"
                        />
                     <circle
                        cx="17.3333"
                        cy="117.333"
                        r="1.66667"
                        transform="rotate(180 17.3333 117.333)"
                        fill="#13C296"
                        />
                     <circle
                        cx="17.3333"
                        cy="102.667"
                        r="1.66667"
                        transform="rotate(180 17.3333 102.667)"
                        fill="#13C296"
                        />
                     <circle
                        cx="17.3333"
                        cy="88"
                        r="1.66667"
                        transform="rotate(180 17.3333 88)"
                        fill="#13C296"
                        />
                     <circle
                        cx="17.3333"
                        cy="73.3333"
                        r="1.66667"
                        transform="rotate(180 17.3333 73.3333)"
                        fill="#13C296"
                        />
                     <circle
                        cx="17.3333"
                        cy="45"
                        r="1.66667"
                        transform="rotate(180 17.3333 45)"
                        fill="#13C296"
                        />
                     <circle
                        cx="17.3333"
                        cy="16"
                        r="1.66667"
                        transform="rotate(180 17.3333 16)"
                        fill="#13C296"
                        />
                     <circle
                        cx="17.3333"
                        cy="59"
                        r="1.66667"
                        transform="rotate(180 17.3333 59)"
                        fill="#13C296"
                        />
                     <circle
                        cx="17.3333"
                        cy="30.6666"
                        r="1.66667"
                        transform="rotate(180 17.3333 30.6666)"
                        fill="#13C296"
                        />
                     <circle
                        cx="17.3333"
                        cy="1.66665"
                        r="1.66667"
                        transform="rotate(180 17.3333 1.66665)"
                        fill="#13C296"
                        />
                     <circle
                        cx="2.66536"
                        cy="132"
                        r="1.66667"
                        transform="rotate(180 2.66536 132)"
                        fill="#13C296"
                        />
                     <circle
                        cx="2.66536"
                        cy="117.333"
                        r="1.66667"
                        transform="rotate(180 2.66536 117.333)"
                        fill="#13C296"
                        />
                     <circle
                        cx="2.66536"
                        cy="102.667"
                        r="1.66667"
                        transform="rotate(180 2.66536 102.667)"
                        fill="#13C296"
                        />
                     <circle
                        cx="2.66536"
                        cy="88"
                        r="1.66667"
                        transform="rotate(180 2.66536 88)"
                        fill="#13C296"
                        />
                     <circle
                        cx="2.66536"
                        cy="73.3333"
                        r="1.66667"
                        transform="rotate(180 2.66536 73.3333)"
                        fill="#13C296"
                        />
                     <circle
                        cx="2.66536"
                        cy="45"
                        r="1.66667"
                        transform="rotate(180 2.66536 45)"
                        fill="#13C296"
                        />
                     <circle
                        cx="2.66536"
                        cy="16"
                        r="1.66667"
                        transform="rotate(180 2.66536 16)"
                        fill="#13C296"
                        />
                     <circle
                        cx="2.66536"
                        cy="59"
                        r="1.66667"
                        transform="rotate(180 2.66536 59)"
                        fill="#13C296"
                        />
                     <circle
                        cx="2.66536"
                        cy="30.6666"
                        r="1.66667"
                        transform="rotate(180 2.66536 30.6666)"
                        fill="#13C296"
                        />
                     <circle
                        cx="2.66536"
                        cy="1.66665"
                        r="1.66667"
                        transform="rotate(180 2.66536 1.66665)"
                        fill="#13C296"
                        />
                  </svg>
               </span>
               <span class="absolute -left-7 -bottom-7 z-[-1]">
                  <svg
                     width="107"
                     height="134"
                     viewBox="0 0 107 134"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg"
                     >
                     <circle
                        cx="104.999"
                        cy="132"
                        r="1.66667"
                        transform="rotate(180 104.999 132)"
                        fill="#13C296"
                        />
                     <circle
                        cx="104.999"
                        cy="117.333"
                        r="1.66667"
                        transform="rotate(180 104.999 117.333)"
                        fill="#13C296"
                        />
                     <circle
                        cx="104.999"
                        cy="102.667"
                        r="1.66667"
                        transform="rotate(180 104.999 102.667)"
                        fill="#13C296"
                        />
                     <circle
                        cx="104.999"
                        cy="88"
                        r="1.66667"
                        transform="rotate(180 104.999 88)"
                        fill="#13C296"
                        />
                     <circle
                        cx="104.999"
                        cy="73.3333"
                        r="1.66667"
                        transform="rotate(180 104.999 73.3333)"
                        fill="#13C296"
                        />
                     <circle
                        cx="104.999"
                        cy="45"
                        r="1.66667"
                        transform="rotate(180 104.999 45)"
                        fill="#13C296"
                        />
                     <circle
                        cx="104.999"
                        cy="16"
                        r="1.66667"
                        transform="rotate(180 104.999 16)"
                        fill="#13C296"
                        />
                     <circle
                        cx="104.999"
                        cy="59"
                        r="1.66667"
                        transform="rotate(180 104.999 59)"
                        fill="#13C296"
                        />
                     <circle
                        cx="104.999"
                        cy="30.6666"
                        r="1.66667"
                        transform="rotate(180 104.999 30.6666)"
                        fill="#13C296"
                        />
                     <circle
                        cx="104.999"
                        cy="1.66665"
                        r="1.66667"
                        transform="rotate(180 104.999 1.66665)"
                        fill="#13C296"
                        />
                     <circle
                        cx="90.3333"
                        cy="132"
                        r="1.66667"
                        transform="rotate(180 90.3333 132)"
                        fill="#13C296"
                        />
                     <circle
                        cx="90.3333"
                        cy="117.333"
                        r="1.66667"
                        transform="rotate(180 90.3333 117.333)"
                        fill="#13C296"
                        />
                     <circle
                        cx="90.3333"
                        cy="102.667"
                        r="1.66667"
                        transform="rotate(180 90.3333 102.667)"
                        fill="#13C296"
                        />
                     <circle
                        cx="90.3333"
                        cy="88"
                        r="1.66667"
                        transform="rotate(180 90.3333 88)"
                        fill="#13C296"
                        />
                     <circle
                        cx="90.3333"
                        cy="73.3333"
                        r="1.66667"
                        transform="rotate(180 90.3333 73.3333)"
                        fill="#13C296"
                        />
                     <circle
                        cx="90.3333"
                        cy="45"
                        r="1.66667"
                        transform="rotate(180 90.3333 45)"
                        fill="#13C296"
                        />
                     <circle
                        cx="90.3333"
                        cy="16"
                        r="1.66667"
                        transform="rotate(180 90.3333 16)"
                        fill="#13C296"
                        />
                     <circle
                        cx="90.3333"
                        cy="59"
                        r="1.66667"
                        transform="rotate(180 90.3333 59)"
                        fill="#13C296"
                        />
                     <circle
                        cx="90.3333"
                        cy="30.6666"
                        r="1.66667"
                        transform="rotate(180 90.3333 30.6666)"
                        fill="#13C296"
                        />
                     <circle
                        cx="90.3333"
                        cy="1.66665"
                        r="1.66667"
                        transform="rotate(180 90.3333 1.66665)"
                        fill="#13C296"
                        />
                     <circle
                        cx="75.6654"
                        cy="132"
                        r="1.66667"
                        transform="rotate(180 75.6654 132)"
                        fill="#13C296"
                        />
                     <circle
                        cx="31.9993"
                        cy="132"
                        r="1.66667"
                        transform="rotate(180 31.9993 132)"
                        fill="#13C296"
                        />
                     <circle
                        cx="75.6654"
                        cy="117.333"
                        r="1.66667"
                        transform="rotate(180 75.6654 117.333)"
                        fill="#13C296"
                        />
                     <circle
                        cx="31.9993"
                        cy="117.333"
                        r="1.66667"
                        transform="rotate(180 31.9993 117.333)"
                        fill="#13C296"
                        />
                     <circle
                        cx="75.6654"
                        cy="102.667"
                        r="1.66667"
                        transform="rotate(180 75.6654 102.667)"
                        fill="#13C296"
                        />
                     <circle
                        cx="31.9993"
                        cy="102.667"
                        r="1.66667"
                        transform="rotate(180 31.9993 102.667)"
                        fill="#13C296"
                        />
                     <circle
                        cx="75.6654"
                        cy="88"
                        r="1.66667"
                        transform="rotate(180 75.6654 88)"
                        fill="#13C296"
                        />
                     <circle
                        cx="31.9993"
                        cy="88"
                        r="1.66667"
                        transform="rotate(180 31.9993 88)"
                        fill="#13C296"
                        />
                     <circle
                        cx="75.6654"
                        cy="73.3333"
                        r="1.66667"
                        transform="rotate(180 75.6654 73.3333)"
                        fill="#13C296"
                        />
                     <circle
                        cx="31.9993"
                        cy="73.3333"
                        r="1.66667"
                        transform="rotate(180 31.9993 73.3333)"
                        fill="#13C296"
                        />
                     <circle
                        cx="75.6654"
                        cy="45"
                        r="1.66667"
                        transform="rotate(180 75.6654 45)"
                        fill="#13C296"
                        />
                     <circle
                        cx="31.9993"
                        cy="45"
                        r="1.66667"
                        transform="rotate(180 31.9993 45)"
                        fill="#13C296"
                        />
                     <circle
                        cx="75.6654"
                        cy="16"
                        r="1.66667"
                        transform="rotate(180 75.6654 16)"
                        fill="#13C296"
                        />
                     <circle
                        cx="31.9993"
                        cy="16"
                        r="1.66667"
                        transform="rotate(180 31.9993 16)"
                        fill="#13C296"
                        />
                     <circle
                        cx="75.6654"
                        cy="59"
                        r="1.66667"
                        transform="rotate(180 75.6654 59)"
                        fill="#13C296"
                        />
                     <circle
                        cx="31.9993"
                        cy="59"
                        r="1.66667"
                        transform="rotate(180 31.9993 59)"
                        fill="#13C296"
                        />
                     <circle
                        cx="75.6654"
                        cy="30.6666"
                        r="1.66667"
                        transform="rotate(180 75.6654 30.6666)"
                        fill="#13C296"
                        />
                     <circle
                        cx="31.9993"
                        cy="30.6666"
                        r="1.66667"
                        transform="rotate(180 31.9993 30.6666)"
                        fill="#13C296"
                        />
                     <circle
                        cx="75.6654"
                        cy="1.66665"
                        r="1.66667"
                        transform="rotate(180 75.6654 1.66665)"
                        fill="#13C296"
                        />
                     <circle
                        cx="31.9993"
                        cy="1.66665"
                        r="1.66667"
                        transform="rotate(180 31.9993 1.66665)"
                        fill="#13C296"
                        />
                     <circle
                        cx="60.9993"
                        cy="132"
                        r="1.66667"
                        transform="rotate(180 60.9993 132)"
                        fill="#13C296"
                        />
                     <circle
                        cx="17.3333"
                        cy="132"
                        r="1.66667"
                        transform="rotate(180 17.3333 132)"
                        fill="#13C296"
                        />
                     <circle
                        cx="60.9993"
                        cy="117.333"
                        r="1.66667"
                        transform="rotate(180 60.9993 117.333)"
                        fill="#13C296"
                        />
                     <circle
                        cx="17.3333"
                        cy="117.333"
                        r="1.66667"
                        transform="rotate(180 17.3333 117.333)"
                        fill="#13C296"
                        />
                     <circle
                        cx="60.9993"
                        cy="102.667"
                        r="1.66667"
                        transform="rotate(180 60.9993 102.667)"
                        fill="#13C296"
                        />
                     <circle
                        cx="17.3333"
                        cy="102.667"
                        r="1.66667"
                        transform="rotate(180 17.3333 102.667)"
                        fill="#13C296"
                        />
                     <circle
                        cx="60.9993"
                        cy="88"
                        r="1.66667"
                        transform="rotate(180 60.9993 88)"
                        fill="#13C296"
                        />
                     <circle
                        cx="17.3333"
                        cy="88"
                        r="1.66667"
                        transform="rotate(180 17.3333 88)"
                        fill="#13C296"
                        />
                     <circle
                        cx="60.9993"
                        cy="73.3333"
                        r="1.66667"
                        transform="rotate(180 60.9993 73.3333)"
                        fill="#13C296"
                        />
                     <circle
                        cx="17.3333"
                        cy="73.3333"
                        r="1.66667"
                        transform="rotate(180 17.3333 73.3333)"
                        fill="#13C296"
                        />
                     <circle
                        cx="60.9993"
                        cy="45"
                        r="1.66667"
                        transform="rotate(180 60.9993 45)"
                        fill="#13C296"
                        />
                     <circle
                        cx="17.3333"
                        cy="45"
                        r="1.66667"
                        transform="rotate(180 17.3333 45)"
                        fill="#13C296"
                        />
                     <circle
                        cx="60.9993"
                        cy="16"
                        r="1.66667"
                        transform="rotate(180 60.9993 16)"
                        fill="#13C296"
                        />
                     <circle
                        cx="17.3333"
                        cy="16"
                        r="1.66667"
                        transform="rotate(180 17.3333 16)"
                        fill="#13C296"
                        />
                     <circle
                        cx="60.9993"
                        cy="59"
                        r="1.66667"
                        transform="rotate(180 60.9993 59)"
                        fill="#13C296"
                        />
                     <circle
                        cx="17.3333"
                        cy="59"
                        r="1.66667"
                        transform="rotate(180 17.3333 59)"
                        fill="#13C296"
                        />
                     <circle
                        cx="60.9993"
                        cy="30.6666"
                        r="1.66667"
                        transform="rotate(180 60.9993 30.6666)"
                        fill="#13C296"
                        />
                     <circle
                        cx="17.3333"
                        cy="30.6666"
                        r="1.66667"
                        transform="rotate(180 17.3333 30.6666)"
                        fill="#13C296"
                        />
                     <circle
                        cx="60.9993"
                        cy="1.66665"
                        r="1.66667"
                        transform="rotate(180 60.9993 1.66665)"
                        fill="#13C296"
                        />
                     <circle
                        cx="17.3333"
                        cy="1.66665"
                        r="1.66667"
                        transform="rotate(180 17.3333 1.66665)"
                        fill="#13C296"
                        />
                     <circle
                        cx="46.3333"
                        cy="132"
                        r="1.66667"
                        transform="rotate(180 46.3333 132)"
                        fill="#13C296"
                        />
                     <circle
                        cx="2.66536"
                        cy="132"
                        r="1.66667"
                        transform="rotate(180 2.66536 132)"
                        fill="#13C296"
                        />
                     <circle
                        cx="46.3333"
                        cy="117.333"
                        r="1.66667"
                        transform="rotate(180 46.3333 117.333)"
                        fill="#13C296"
                        />
                     <circle
                        cx="2.66536"
                        cy="117.333"
                        r="1.66667"
                        transform="rotate(180 2.66536 117.333)"
                        fill="#13C296"
                        />
                     <circle
                        cx="46.3333"
                        cy="102.667"
                        r="1.66667"
                        transform="rotate(180 46.3333 102.667)"
                        fill="#13C296"
                        />
                     <circle
                        cx="2.66536"
                        cy="102.667"
                        r="1.66667"
                        transform="rotate(180 2.66536 102.667)"
                        fill="#13C296"
                        />
                     <circle
                        cx="46.3333"
                        cy="88"
                        r="1.66667"
                        transform="rotate(180 46.3333 88)"
                        fill="#13C296"
                        />
                     <circle
                        cx="2.66536"
                        cy="88"
                        r="1.66667"
                        transform="rotate(180 2.66536 88)"
                        fill="#13C296"
                        />
                     <circle
                        cx="46.3333"
                        cy="73.3333"
                        r="1.66667"
                        transform="rotate(180 46.3333 73.3333)"
                        fill="#13C296"
                        />
                     <circle
                        cx="2.66536"
                        cy="73.3333"
                        r="1.66667"
                        transform="rotate(180 2.66536 73.3333)"
                        fill="#13C296"
                        />
                     <circle
                        cx="46.3333"
                        cy="45"
                        r="1.66667"
                        transform="rotate(180 46.3333 45)"
                        fill="#13C296"
                        />
                     <circle
                        cx="2.66536"
                        cy="45"
                        r="1.66667"
                        transform="rotate(180 2.66536 45)"
                        fill="#13C296"
                        />
                     <circle
                        cx="46.3333"
                        cy="16"
                        r="1.66667"
                        transform="rotate(180 46.3333 16)"
                        fill="#13C296"
                        />
                     <circle
                        cx="2.66536"
                        cy="16"
                        r="1.66667"
                        transform="rotate(180 2.66536 16)"
                        fill="#13C296"
                        />
                     <circle
                        cx="46.3333"
                        cy="59"
                        r="1.66667"
                        transform="rotate(180 46.3333 59)"
                        fill="#13C296"
                        />
                     <circle
                        cx="2.66536"
                        cy="59"
                        r="1.66667"
                        transform="rotate(180 2.66536 59)"
                        fill="#13C296"
                        />
                     <circle
                        cx="46.3333"
                        cy="30.6666"
                        r="1.66667"
                        transform="rotate(180 46.3333 30.6666)"
                        fill="#13C296"
                        />
                     <circle
                        cx="2.66536"
                        cy="30.6666"
                        r="1.66667"
                        transform="rotate(180 2.66536 30.6666)"
                        fill="#13C296"
                        />
                     <circle
                        cx="46.3333"
                        cy="1.66665"
                        r="1.66667"
                        transform="rotate(180 46.3333 1.66665)"
                        fill="#13C296"
                        />
                     <circle
                        cx="2.66536"
                        cy="1.66665"
                        r="1.66667"
                        transform="rotate(180 2.66536 1.66665)"
                        fill="#13C296"
                        />
                  </svg>
               </span>
            </div>
         </div>
      </div>
   </div>
</div>
</section>
<!-- ====== Contact Section End -->
    <!-- contact section end -->
    <!-- copyright section start -->
    <footer class="bg-white">
      <div class="mx-auto max-w-screen-xl px-4 pb-8 pt-16 sm:px-6 lg:px-8 lg:pt-24">
        <div class="text-center">
          <h2 class="text-3xl font-extrabold text-gray-900 sm:text-5xl">
            We are here to hear you!
          </h2>
    
          <p class="mx-auto mt-4 max-w-sm text-gray-500">
            "A problem well stated is a problem half solved."
          </p>
    
          <a
            href="#"
            class="mt-8 inline-block rounded-full border border-indigo-600 px-12 py-3 text-sm font-medium text-indigo-600 hover:bg-indigo-600 hover:text-white focus:outline-none focus:ring active:bg-indigo-500"
          >
           Book Your Session
          </a>
        </div>
    
        <div
          class="mt-16 border-t border-gray-100 pt-8 sm:flex sm:items-center sm:justify-between lg:mt-24"
        >
          <ul class="flex flex-wrap justify-center gap-4 text-xs lg:justify-end">
            <li>
              <a href="#" class="text-gray-500 transition hover:opacity-75">
                Terms & Conditions
              </a>
            </li>
    
            <li>
              <a href="#" class="text-gray-500 transition hover:opacity-75">
                Privacy Policy
              </a>
            </li>
    
            <li>
              <a href="#" class="text-gray-500 transition hover:opacity-75">
                Cookies
              </a>
            </li>
          </ul>
    
          <ul class="mt-8 flex justify-center gap-6 sm:mt-0 lg:justify-end">
            <li>
              <a
                href="/"
                rel="noreferrer"
                target="_blank"
                class="text-gray-700 transition hover:opacity-75"
              >
                <span class="sr-only">Facebook</span>
    
                <svg
                  class="h-6 w-6"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            </li>
    
            <li>
              <a
                href="/"
                rel="noreferrer"
                target="_blank"
                class="text-gray-700 transition hover:opacity-75"
              >
                <span class="sr-only">Instagram</span>
    
                <svg
                  class="h-6 w-6"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            </li>
    
            <li>
              <a
                href="/"
                rel="noreferrer"
                target="_blank"
                class="text-gray-700 transition hover:opacity-75"
              >
                <span class="sr-only">Twitter</span>
    
                <svg
                  class="h-6 w-6"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                >
                  <path
                    d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"
                  />
                </svg>
              </a>
            </li>
    
            <li>
              <a
                href="/"
                rel="noreferrer"
                target="_blank"
                class="text-gray-700 transition hover:opacity-75"
              >
                <span class="sr-only">GitHub</span>
    
                <svg
                  class="h-6 w-6"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            </li>
    
            <li>
              <a
                href="/"
                rel="noreferrer"
                target="_blank"
                class="text-gray-700 transition hover:opacity-75"
              >
                <span class="sr-only">Dribbble</span>
    
                <svg
                  class="h-6 w-6"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10c5.51 0 10-4.48 10-10S17.51 2 12 2zm6.605 4.61a8.502 8.502 0 011.93 5.314c-.281-.054-3.101-.629-5.943-.271-.065-.141-.12-.293-.184-.445a25.416 25.416 0 00-.564-1.236c3.145-1.28 4.577-3.124 4.761-3.362zM12 3.475c2.17 0 4.154.813 5.662 2.148-.152.216-1.443 1.941-4.48 3.08-1.399-2.57-2.95-4.675-3.189-5A8.687 8.687 0 0112 3.475zm-3.633.803a53.896 53.896 0 013.167 4.935c-3.992 1.063-7.517 1.04-7.896 1.04a8.581 8.581 0 014.729-5.975zM3.453 12.01v-.26c.37.01 4.512.065 8.775-1.215.25.477.477.965.694 1.453-.109.033-.228.065-.336.098-4.404 1.42-6.747 5.303-6.942 5.629a8.522 8.522 0 01-2.19-5.705zM12 20.547a8.482 8.482 0 01-5.239-1.8c.152-.315 1.888-3.656 6.703-5.337.022-.01.033-.01.054-.022a35.318 35.318 0 011.823 6.475 8.4 8.4 0 01-3.341.684zm4.761-1.465c-.086-.52-.542-3.015-1.659-6.084 2.679-.423 5.022.271 5.314.369a8.468 8.468 0 01-3.655 5.715z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- copyright section end -->

    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
      $(document).ready(function(){
      $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
         </script> 


   <script>
    function openNav() {
    document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
   document.getElementById("myNav").style.width = "0%";
   }
</script>



     
</body>
</html>