<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script> -->
    <title>Document</title>

     <!-- Font Icon -->
     <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

     <!-- Main css -->
     <link rel="stylesheet" href="css1/style.css">
   
</head>
<body>
  <div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h1 class="form-title">Sign up</h1>
                    <form action="/registers" method="POST" enctype="multipart/form-data" class="register-form" id="register-form">
                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="name" id="name" placeholder="Your Name"/>
                        </div>
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="email" id="email" placeholder="Your Email"/>
                        </div>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="number" name="phoneNumber" id="pass" placeholder="Phone Number"/>
                        </div>
                        <div class="form-group">
                            <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="password" name="password" id="re_pass" placeholder="Password"/>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="images/signup-image.jpg" alt="sing up image"></figure>
                    <a href="/register" class="signup-image-link">I am already member</a>
                </div>
            </div>
        </div>
    </section>
  </div>

  <!-- End -->
    <!-- <div class="container mt-5">
        <h1 class="text-3xl font-bold text-purple-800 mb-4">Register</h1>
      
        <div class="row">
          <div class="col-sm-8">
            <div class="card bg-purple-300 shadow-lg">
              <div class="card-body p-8">
      
                <!-- Makes POST request to /register route -->
                <!-- <form action="/registers" method="POST" enctype="multipart/form-data">
                  <div class="form-group mb-4">
                    <input
                      name="fname"
                      placeholder="First Name"
                      class="w-full py-2 px-3 bg-purple-100 rounded-md border border-purple-400 placeholder-gray-600 focus:outline-none focus:border-purple-600"
                    />
                    <input
                      name="lname"
                      placeholder="Last Name"
                      class="w-full py-2 px-3 mt-2 bg-purple-100 rounded-md border border-purple-400 placeholder-gray-600 focus:outline-none focus:border-purple-600"
                    />
                    <input
                      type="number"
                      name="age"
                      placeholder="Age"
                      class="w-full py-2 px-3 mt-2 bg-purple-100 rounded-md border border-purple-400 placeholder-gray-600 focus:outline-none focus:border-purple-600"
                    />
                    <br>
                    <label for="username" class="text-gray-700">Email</label>
                    <input
                      type="email"
                      name="username"
                      class="w-full py-2 px-3 mt-2 bg-purple-100 rounded-md border border-purple-400 placeholder-gray-600 focus:outline-none focus:border-purple-600"
                    />
                  </div>
                  <div class="form-group mb-4">
                    <label for="password" class="text-gray-700">Password</label>
                    <input
                      type="password"
                      name="password"
                      class="w-full py-2 px-3 bg-purple-100 rounded-md border border-purple-400 placeholder-gray-600 focus:outline-none focus:border-purple-600"
                    />
                    <input
                      type="file"
                      name="image"
                      class="w-full py-2 px-3 mt-2 bg-purple-100 rounded-md border border-purple-400 focus:outline-none focus:border-purple-600"
                    />
      
                    <label for="color" class="text-gray-700">Department:</label>
                    <select
                      id="btncolor"
                      name="color"
                      class="w-full py-2 px-3 mt-2 bg-purple-100 rounded-md border border-purple-400 focus:outline-none focus:border-purple-600"
                    >
                      <option value="CSE">Computer Science</option>
                      <option value="Mechanical">Mechanical</option>
                      <option value="Civil">Civil</option>
                      <option value="Electrical">Electrical</option>
                    </select>
      
                    <label for="txtColor" class="text-gray-700">Degree</label>
                    <select
                      id="txtColor"
                      name="txtColor"
                      class="w-full py-2 px-3 mt-2 bg-purple-100 rounded-md border border-purple-400 focus:outline-none focus:border-purple-600"
                    >
                      <option value="M.tech">M.tech</option>
                      <option value="Ph. D.">Ph. D.</option>
                      <option value="MBA">MBA</option>
                      <option value="MSc">MSc</option>
                    </select>
                  </div>
                  <button type="submit" class="bg-black text-white py-2 px-4 rounded-full hover:bg-purple-800 transition duration-300">
                    Register
                  </button>
                </form>
      
              </div>
            </div>
          </div>
        </div> -->
      </div> -->
      
    <!-- New register -->


    <!-- <div class="w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800">
      <div class="px-6 py-4">
          <div class="flex justify-center mx-auto">
              <img class="w-auto h-7 sm:h-8" src="https://merakiui.com/images/logo.svg" alt="">
          </div>
  
          <h3 class="mt-3 text-xl font-medium text-center text-gray-600 dark:text-gray-200">Welcome Back</h3>
  
          <p class="mt-1 text-center text-gray-500 dark:text-gray-400">Login </p>
  
          <form action="/registers" method="POST" enctype="multipart/form-data">
            <div class="w-full mt-4">
              <input class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-500 bg-white border rounded-lg dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-blue-300" type="text" placeholder="Name" aria-label="Name" />
            </div>

            <div class="w-full mt-4">
              <input class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-500 bg-white border rounded-lg dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-blue-300" type="number" placeholder="Phone Number" aria-label="Phone Number" />
            </div>
              
              <div class="w-full mt-4">
                  <input class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-500 bg-white border rounded-lg dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-blue-300" type="email" placeholder="Email Address" aria-label="Email Address" />
              </div>
  
              <div class="w-full mt-4">
                  <input class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-500 bg-white border rounded-lg dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-blue-300" type="password" placeholder="Password" aria-label="Password" />
              </div>
  
              <div class="flex items-center justify-between mt-4">
                  <a href="#" class="text-sm text-gray-600 dark:text-gray-200 hover:text-gray-500">Forget Password?</a>
  
                  <button type="submit" class="px-6 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-lg hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                      Sign Up
                  </button>
              </div>
          </form>
      </div>
  
      <div class="flex items-center justify-center py-4 text-center bg-gray-50 dark:bg-gray-700">
          <span class="text-sm text-gray-600 dark:text-gray-200">Already have an account? </span>
  
          <a href="/login" class="mx-2 text-sm font-bold text-blue-500 dark:text-blue-400 hover:underline">Login</a>
      </div>
  </div> -->
</body>
</html>